{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div id="waiting-list">
    <p class="description"> Rockt is currently in private beta. Leave your 
    email address below for updates or invites.</p>
    <form action="{% url waiting-list %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }} 
        <div class="field-wrapper">
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <input type="submit" class="button" value="Submit" />
    </form>
</div>
{% endblock %}
