<!DOCTYPE HTML>
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
            <title>{% block title %}Rockt{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style.css" />
            <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
            {% block head %}{% endblock %}
    </head> 
    <body{% block body %}{% endblock %}>
        <div id="centre">
            <div id="userbox">
                <div class="userbox-float">
                {% if username %}
                Hello, <a href="{% url profile %}">{{ username }}</a>! |
                ${{ balance }} |
                <a href="{% url logout %}">Logout</a>
                {% else %}
                <a href="{% url login %}">Login</a>
                {% endif %}
                </div>
            </div>
            <div id="menu">
                <ul>
                    {% block menu%}
                    <li {% if selected == 'home'%}class="selected"{% endif %}>
                        <a href="{% url home %}">Home</a></li>
                    <li {% if selected == 'blog'%}class="selected"{% endif %}>
                        <a href="{% url blog%}">Blog</a></li>
                    <li {% if selected == 'register'%}class="selected"{% endif %}>
                        <a href="{% url waiting-list%}">Register</a></li>
                    {% endblock %}
                </ul>
            </div>
            <div id="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
            </div>
            <div id="footer">
                <a href="http://stillinbeta.com">By stillinbeta</a> | 
                <a href="http://github.com/stillinbeta/rockt">Rockt on GitHub</a>
            </div>
        </div>
    </body>
</html>

