{% extends "base.html" %}
{% block title %}Stop {{ stop.number }}{% endblock %}
{% block content %}
    <h1>Cars near {{ stop.description }} (on {{ stop.route }}) </h1>
    <img src="http://maps.google.com/maps/api/staticmap?center={{ stop.location }}
        &maptype=roadmap
        &size=512x512
        &markers=color:blue%7Clabel:S%7C{{stop.latitude}},{{car.longitude}}
        {% for car in nearby_cars %}
        &markers=color:red%7Clabel:C%7C{{car.latitude}},{{car.longitude}}
        {% endfor %}
        &sensor=false" />
    <ul>
        {% for car in nearby_cars %}
            <li><a href="/car/{{ car.number }}/">{{ car.number }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
