<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Select a Station</title>
            
	</head>
    <body>
        <script type="text/javascript">
            function success(position) {
				console.log(position);
                document.location.href  = "/stops/locate/"+
                    position.coords.latitude +
					"/"+position.coords.longitude + "/";
            }
            function failure(msg) {
                alert(msg.message);
               document.getElementById('message').innerHTML = 
                  typeof msg == 'string' ? msg : "failed";
            }
            if (navigator.geolocation) {
               navigator.geolocation.getCurrentPosition(success,failure,{'timeout':10000});
            }
            else {
                failure('Not supported');
            }
        </script>
       <div id="message">Finding your location</div> 
	</body>
</html>
