{% extends "base.html" %}
{% block title %} Select a Station {% endblock %}
{% block content %}
        <img src="http://maps.google.com/maps/api/staticmap?center={{ stop.location }}
            &maptype=roadmap
            &size=512x512
            &markers=color:blue%7Clabel:U%7C{{ lat }},{{ lon }}
            {% for stop in stops %}
            &markers=color:red%7C{{ stop.location.1 }},{{ stop.location.0 }}
            {% endfor %}
            &sensor=false" />
        <ul>
            {% for stop in stops %}
                <li><a href="/stop/{{ stop.number }}/">
                    {{ stop.description }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}
